<div id="heading-row">

  <div class="column"><img src="book-shelf.jpg" alt=""></div>
  <div class="column"><h1>Your Book Inventory</h1></div>

</div>



<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th>Stock</th>
    <th></th>
    <th>Author</th>
    <th>Markup</th>
  </tr>
  <% for book in @books %>

  <tr>
    <td><a href="/books/<%= book.id %>"><%= book.name %></a></td>
    <td>|</td>
    <td class= "<%= book.stock < 5 ? "low": "high" %>" > <%= book.stock %> </td>
    <td>|</td>
    <td><%= book.author.name %></td>

    <td>
      <form class="" action="/book/<%= book.id %>/delete" method="post">
        <input type="submit" value="Delete book">
      </form>
    </td>

    <td>
      <form class="" action="/book/<%= book.id %>/edit" method="get">
        <input type="submit" value="Edit book">
      </form>
    </td>

    <br>
    <td>|</td>
    <td><%= book.sell_price%> % </td>
  </tr>

  <% end %>

</table>
